<!--
  "Caio"
  03/05/2020
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>SistemaGestao</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style type="text/css">
    .escudo{
      width: 30px;
      height: 30px;
    }
  </style>
</head>
<body>

<div id="app" class="container">
  <div class="row">
    <br>
    {{ "v_user: " }}
    {{ v_user }}
    {{ " - " }}
    {{ v_empresa }}
  </div>

  <div class="row">
    <br>
    <div class="col-md-12">
      <button type="text" class="btn btn-primary" @click="Mtabela">Tabela</button>
      <button type="text" class="btn btn-primary" @click="Mcalc">Calcular</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" v-show="v_visao === 'calc'">
      <br>
      <form class="form-inline">
<!--
        <input type="text" class="escudo" v-model="v_novoJogo.fora.gols">
-->
        <input type="text" class="form-control col-md-1" v-model="v_calc.num1">
        {{ v_novoJogo.casa.time ? v_novoJogo.casa.time.nome: ''}}
        {{ v_novoJogo.casa.modelo ? v_novoJogo.casa.modelo.modelo: ''}}
        <span> + </span>
        <input type="text" class="form-control col-md-1" v-model="v_calc.num2">
        {{ v_novoJogo.fora.time ? v_novoJogo.fora.time.nome: ''}}
        {{ v_novoJogo.fora.modelo ? v_novoJogo.fora.modelo.modelo: ''}}
        <br>
        <br>
        <input type="text" class="form-control col-md-1" v-model="v_calc.res">
        {{ v_calc.num1}} {{ "+" }} {{ v_calc.num2 }} {{ "=" }} {{ v_calc.res }}
        <br>
        {{ v_calc.num1}} {{ "-" }} {{ v_calc.num2 }} {{ "=" }} {{ v_calc.res_sub }}
        <br>

        <br>
        <br>
        <button type="button" class="btn btn-primary" @click="Mcalc">calcular</button>
        <br>
       </form>
    </div>
    <div class="col-md-12" v-show="v_visao === 'tabela'">
      <table class="table table-striper">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Numero1</th>
        <th>Numero2</th>
        <th>
          <a href="#" @click.prevent="sort= sort=='desc'? 'asc': 'desc'">Soma</a> 
        </th>
        <th>subtracao</th>
      </tr>
      </thead>
      <body>
<!--
          <tr v-for="class_impressoras in A_impressoras">
        <tr v-for="class_impressoras in c_somaOrdenados">
-->
        <tr v-for="class_impressoras in A_impressoras">
        <td>
          {{class_impressoras.nome}}
        </td>
        <td>
          {{class_impressoras.modelo | f_textoUP}}
        </td>
        <td>
<!--
          {{v_calc.num1}}
-->
          {{v_calc.num1}}
        </td>
        <td>
          {{v_calc.num2}}
        </td>
        <td>
          {{v_calc | soma}} 
<!--
          {{v_calc | soma | sub}} 
ok          {{v_calc.num1 + v_calc.num2}}
ok          {{v_calc.res}}
-->
        </td>
        <td>
          {{v_calc | sub}} 
        </td>
      </tr>
      </body>
      </table>
<!--
      <h3>
        <ul>
          <li v-for="class_impressoras in c_MaiorNumero">
            {{'Maior numero: '}} 
          </li>
        </ul>
      </h3>
      <h3>
        <ul>
          <li v-for="class_impressoras in c_MaiorNumero">
            {{'Menor numero: '}} 
          </li>
        </ul>
      </h3>
-->
    </div>
  </div>

</div>

<!-- versão de desenvolvimento, inclui avisos úteis no console  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
-->
<script>
  class class_impressoras { //ES6
    constructor(nome, modelo) {
      this.nome   = nome;
      this.modelo = modelo;
    }
    numeroIgual(num1,num2){
      this.atualizarInfo2(1, num1. num2);
    }
    numeroMaior20(num1,num2){
      return num1 > 20;
    }
    //
/*
    A_impressoras(res){
      if(this.numeroMaior20(num1,num2)){
        this.empate(golsMarcados, golsSofridos);
        return;
      }
      this.res == num1 + num2;
      return;
    }
*/

    atualizarInfo2(soma, num1, num2){
      this.n1 += num1;
      this.n2 += num2;
    }

    atualizarInfo(pontos, golsMarcados, golsSofridos){
      this.pontos += pontos;
      this.gm     += golsMarcados;
      this.gs     += golsSofridos;
    }
  }

new Vue({
    el: '#app'
    ,data: { 
      v_visao: '',
      v_user: 'Caio',
      v_empresa: 'Grilo3d',
      v_orientacao: 'desc',

      V_impressoras: new class_impressoras('3d','AnetA8'),
      A_impressoras: [
        new class_impressoras('3d','anetA8'),
        new class_impressoras('3d','Plusa'),
        new class_impressoras('CNC','Laser'),
      ],
      v_calc:{
        num1: null,
        num2: null,
        res: null,
        res_sub: null
      },
      v_novoJogo:{
        casa:{
          time: null,
          modelo: null,
          gols: 0
        },
        fora:{
          time: null,
          modelo: null,
          gols: 0
        }
      }
    },
    computed: {
      c_timeLibertadores(){
        return this.v_calc.slice(0,6);
      },
      c_timeRebaixados(){
        return this.v_calc.slice(16,30);
      },
      c_MaiorNumero(){
//        return this.v_calc.num1;numeroMaior20
//        return this.v_sort.slice(0,6);
        return this.numeroMaior20;
},
      c_somaOrdenados(){
        var v_calc = _.orderBy(this.v_calc, 'pontos', this.v_orientacao)
//        return _.orderBy(this.v_calc, 'pontos', this.v_orientacao)
//        return _.orderBy(this.v_calc, 'pontos', this.v_orientacao)
}
    },
    methods: {
      showAlert(){
        alert('v_calc');
      },
      pegarValor($event){
        console.log('log: ', $event);
      },
      Mcalc(){
        this.v_calc.num1 = Math.floor(Math.random() * 50);
        this.v_calc.num2 = Math.floor(Math.random() * 50);
        this.v_calc.res     = this.v_calc.num1 + this.v_calc.num2;
        this.v_calc.res_sub = this.v_calc.num1 - this.v_calc.num2;
        this.v_visao = 'calc';
        console.log('log: ', 'Mcalc');
      },
      Mtabela(){
        this.v_calc.num1 = Math.floor(Math.random() * 50);
        this.v_calc.num2 = Math.floor(Math.random() * 50);
        this.v_visao = 'tabela';
        console.log('log: ', 'tabela');
      },
    },
    filters: {
      soma(v_calc){
        return v_calc.num1 + v_calc.num2;
      },
      sub(v_calc){
        return v_calc.num1 - v_calc.num2;
      },
      f_textoUP(valor){  //retorna 1letra maiusculo
        return valor.charAt(0).toUpperCase() + valor.slice(1);
      },
    }


})
</script>
</body>
</html>